/* general */

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3 {
    font-family: 'Lobster', cursive;
    margin-bottom: 0;
}

p {
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
    margin-bottom: 0;
}

.text_box {
    padding: 40px;
}

/* Colors */

.background_blue_trans {
    background-color: rgb(2, 54, 210, 0.5);
}
.background_red {
    background-color: rgb(231, 33, 77);
}


/* Images */

.background_intro, 
.background_training_1, 
.background_training_2, 
.background_vorteile, 
.background_meister {
    background-size: cover;
    background-position: center center;
}

.background_intro {
    background-image: url(../images/intro-marcus-hanke.jpg);
}

.background_training_1 {
    background-image: url(../images/kbm-training-1.jpg);
}

.background_training_2 {
    background-image: url(../images/intro-marcus-hanke.jpg);
}

.background_vorteile {
    background-image: url(../images/intro-marcus-hanke.jpg);
}

.background_meister {
    background-image: url(../images/intro-marcus-hanke.jpg);
}


/* Specials */
.font_awesome {
    font-size: 80px;
    text-align: center;
}

.bg_opacity_wrapper {
    background-color: rgba(2, 54, 210, 0.7);
}